@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-head: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: #FFFFFF;
  --foreground: #000000;
  --muted: #F3F4F6;
  --muted-foreground: #6B7280;
  --card: #FFFFFF;
  --card-foreground: #000000;
  --popover: #FFFFFF;
  --popover-foreground: #000000;
  --border: #000000;
  --input: #FFFFFF;
  --primary: #FFDA5C;
  --primary-hover: #FCD34D;
  --primary-foreground: #000000;
  --secondary: #000000;
  --secondary-foreground: #FFFFFF;
  --accent: #FFDA5C;
  --accent-foreground: #000000;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --ring: #000000;
  --chart-1: #FFDA5C;
  --chart-2: #000000;
  --chart-3: #10B981;
  --chart-4: #8B5CF6;
  --chart-5: #EF4444;
}

.dark {
  --background: #0D0D0D;
  --foreground: #FFFFFF;
  --muted: #1F2937;
  --muted-foreground: #9CA3AF;
  --card: #171717;
  --card-foreground: #FFFFFF;
  --popover: #171717;
  --popover-foreground: #FFFFFF;
  --border: #FFFFFF;
  --input: #171717;
  --primary: #FFDA5C;
  --primary-hover: #FCD34D;
  --primary-foreground: #000000;
  --secondary: #FFFFFF;
  --secondary-foreground: #000000;
  --accent: #374151;
  --accent-foreground: #FFFFFF;
  --destructive: #7F1D1D;
  --destructive-foreground: #FFFFFF;
  --ring: #FFFFFF;
  --chart-1: #FFDA5C;
  --chart-2: #FFFFFF;
  --chart-3: #10B981;
  --chart-4: #8B5CF6;
  --chart-5: #EF4444;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}